<details class="dropdown">
  <summary class="flex items-center gap-2 border border-gray-300 rounded-md p-2 bg-white w-24 h-24 cursor-pointer">
    <img
      class="h-full w-full overflow-hidden"
      src="{{ selectedPlant()?.imageUrl }}"
      alt="{{ selectedPlant()?.name }}"
    />
  </summary>
  <ul class="menu dropdown-content">
    @for (plant of plants.value(); track $index) {
    <li>
      <a class="bg-white text-black dark:bg-gray-700 dark:text-white" (click)="this.selectedPlant.set(plant)">
        <img class="h-full w-full overflow-hidden" src="{{ plant?.imageUrl }}" alt="{{ plant?.name }}" />
        <span class="text-2xl font-bold">{{ plant?.name }}</span>
      </a>
    </li>
    }
  </ul>
</details>
